{% extends 'ConstructionsIncongruesComThibaultHuertasWwwBundle::Default/layout.html.twig' %}

{% block title %}
Contact | 
{% endblock %}

{% block navbar_class_contact %}navbar_active{% endblock %}

{% block header_class %}fixed{% endblock %}

{% block content %}
<div class="grid_12 content1" id="contact">

	<div class="about_content">
		<div class="grid_6 column1  column1_contact">

			<h1>Une petite présentation</h1>

			<hr />
			<p>Je m'appelle Thibault Huertas et je suis designer graphique freelance.</p>

			<p>Web designer, puis directeur artistique chez <a href="http://www.kernix.com/" target="_blank">Kernix</a>, une agence spécialisée dans le développement d'application web et mobile, j'ai pu concevoir divers projets interactifs avec une clientèle variée.
			</p>
			<p>
				Autonome et perfectionniste, mon plaisir sera de concevoir un design de qualité qui répondra à vos besoins. J'attache une grande importance à créer des interfaces innovantes et originales.
			</p>

			<p>Direction artistique / design graphique / web design / icones / illustrations / identités visuelles / logos</p>

			<h2>Récompenses</h2>

			<hr />

			<ul>
				<li>Lauréat du concours <a href="http://www.csswinner.com/details/-da-heard-it-records/3154/" target="_blank">CSS Winner</a> pour le site <a href="{{ path('project_show', {slug: 'da-heard-it-records'}) }}#project">Da ! Heard It Records</a>
				</ul>
			</div>

			<div class="grid_6 column2 column2_contact">


				<h1>Restons en contact</h1>

				<hr />


				<p class="about_content_contactinfo">
					N'hésitez pas à me contacter si vous avez une question, ou pour faire connaissance.
					Je suis actuellement disponible en freelance.
				</p>

<!--
				<form method="post">
    				{{ form_errors(form.name) }}
    				{{ form_widget(form.name, { 'attr': { 'class': 'about_form_name', 'placeholder': 'Votre nom' } }) }}
    				{{ form_errors(form.company) }}
    				{{ form_widget(form.company, { 'attr': { 'class': 'about_form_entreprise', 'placeholder': 'Votre société' } }) }}
    				{{ form_errors(form.email) }}
    				{{ form_widget(form.email, { 'attr': { 'class': 'about_form_email', 'placeholder': 'Votre email' } }) }}
    				{{ form_errors(form.phone) }}
    				{{ form_widget(form.phone, { 'attr': { 'class': 'about_form_email', 'placeholder': 'Votre numéro de téléphone' } }) }}
    				{{ form_errors(form.message) }}
    				{{ form_widget(form.message, { 'attr': { 'class': 'about_form_message', 'placeholder': 'Votre message' } }) }}
					{{ form_widget(form._token) }}
					<input type="submit" name"Envoyer votre demande" value="Envoyer" class="about_form_submit" />
				</form>
-->
				<hr />

				<ul>
					<li><a href="mailto:contact@thibaulthuertascom">contact@thibaulthuertas.com</a>
					<li>+ 33.6.10.68.41.33</li>
				</ul>
				<hr />
				<ul> 
					<li><a href="http://www.behance.net/thibaulthuertas" target="_blank">Behance</a></li>
					<li><a href="http://www.flickr.com/photos/14850436@N05/" target="_blank">Flickr</a></li>
					<li><a href="http://www.linkedin.com/pub/thibault-huertas/16/a14/b6a" target="_blank">Linkedin</a></li>
				</ul>
				</div>
			</div><!-- .content1_content -->
			<div><!-- .content1-->
{% endblock %}