{% extends 'ConstructionsIncongruesComThibaultHuertasWwwBundle::Default/layout.html.twig' %}

{% block content %}
<div class="content1_content" id="projects">

  {% for project in projects %}
  <div class="grid_6 column{% if loop.index0 is divisibleby(2) %}1{% else %}2{% endif %}">
    <ul > 
      <li class="mosaic-block fade">
        <span class=" mosaic-overlay"> 
          <a href="{{ path('project_show', {slug: project.slug}) }}#project" title="En savoir plus sur le projet {{ project.title }}">
            <span class="details">    
              <h1>{{ project.title }}</h1>
              <hr />
              <h2>{{ project.hover }}</h2>
            </span>
          </a>
        </span>
        <span class="mosaic-backdrop">
          <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/assets/projects/' ~ project.slug ~ '/' ~ project.slug ~ '_home.jpg') }}" />
        </span>
      </li>
    </ul>
  </div>  
  {% endfor %}

</div><!-- .content1_content -->
{% endblock %}