{% extends 'ConstructionsIncongruesComThibaultHuertasWwwBundle::Default/layout.html.twig' %}

{% block navbar_class_homepage %}navbar_active{% endblock %}

{% block caillou %}
      <section class="intro">
  <aside role="complementary" class="caillou" >
    <a class="smooth" href="#projects" title="Consulter la liste des projets">
     <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/home/1.png') }}" />
    </a>
   </aside>
</section>
{% endblock %}

{% block content %}
 
<section  role="main" class="caption-style-4">
 
  {% for project in projects %}
 
  <article>
    
    <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/assets/projects/' ~ project.slug ~ '/' ~ project.slug ~ '_home.png') }}" />
    <a href="{{ path('project_show', {slug: project.slug}) }}" title="En savoir plus sur le projet {{ project.title }}">
<div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
          <h1>{{ project.title }}</h1>
          <hr />
          <h2>{{ project.hover }}</h2>
          </div>
        </div>
    </a>
  </article>
      
      
{% endfor %}
  <hr />
</section>

{% endblock %}