{% extends 'ConstructionsIncongruesComThibaultHuertasWwwBundle::Default/layout.html.twig' %}

{% block navbar_class_homepage %}navbar_active{% endblock %}

{% block caillou %}
      <section class="intro">
  <aside role="complementary" class="caillou" >
    <a class="smooth" href="#projects" title="Consulter la liste des projets">
     <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/home/1.png') }}" />
    </a>
   </aside>
</section>
{% endblock %}

{% block content %}

<section role="main" class="mosaic">

  {% for project in projects %}

  <article>
    <a href="{{ path('project_show', {slug: project.slug}) }}" title="En savoir plus sur le projet {{ project.title }}">
      <figure class="overlay reveal-smooth huertas">
        <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/assets/projects/' ~ project.slug ~ '/' ~ project.slug ~ '_home.gif') }}" onerror="this.src='{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/assets/projects/' ~ project.slug ~ '/' ~ project.slug ~ '_home.png') }}'" />
        <figcaption>
        <div class="details">
            <h1>{{ project.title }}</h1>
              <hr />
            <h2>{{ project.hover }}</h2>
            </div>
        </figcaption>
      </figure>
    </a>
  </article>

{% endfor %}
  <hr />
</section>

{% endblock %}
