<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {% block title %}{% endblock %}
    Thibault Huertas | Designer Graphique
  </title>
	<meta name="description" content="Designer graphique indépendant basé à Paris">

	<meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="icon" href="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/favicon.png') }}" />

  <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/css/lib/960.gs/reset.css') }}"/>
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/css/lib/960.gs/text.css') }}"/>
  <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/css/lib/960.gs/fluid_grid.css') }}"/>
  <link rel="stylesheet" href="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/css/mosaic.css') }}" type="text/css" media="screen" />


    <link rel="stylesheet" href="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/css/css-sticky-footer.css') }}">

  <link rel="stylesheet" href="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/css/main.css') }}">
  
	<script src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/js/libs/modernizr-2.0.6.min.js') }}"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/js/mosaic.1.0.1.js') }}"></script>
    
  <script type="text/javascript">
      
      jQuery(function($){
        
        $('.circle').mosaic({
          opacity   : 0.8     //Opacity for overlay (0-1)
        });
        
        $('.fade').mosaic();
        
        $('.bar').mosaic({
          animation : 'slide'   //fade or slide
        });
        
        $('.bar2').mosaic({
          animation : 'slide'   //fade or slide
        });
        
        $('.bar3').mosaic({
          animation : 'slide',  //fade or slide
          anchor_y  : 'top'   //Vertical anchor position
        });
        
        $('.cover').mosaic({
          animation : 'slide',  //fade or slide
          hover_x   : '400px'   //Horizontal position on hover
        });
        
        $('.cover2').mosaic({
          animation : 'slide',  //fade or slide
          anchor_y  : 'top',    //Vertical anchor position
          hover_y   : '80px'    //Vertical position on hover
        });
        
        $('.cover3').mosaic({
          animation : 'slide',  //fade or slide
          hover_x   : '400px',  //Horizontal position on hover
          hover_y   : '300px'   //Vertical position on hover
        });
        
        });
    </script>
</head>
<body>
<div id="wrapper">
<div class="container_12" id="content">
    <div class="grid_12 header {% block header_class %}{% endblock %}">
      <div class="header_content">
        <div class="grid_8 logo">
      <p>
        <a href="{{ path('homepage') }}" title="Retourner à la page d'accueil">
          <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/logo.png') }}" />
        </a>
      </div>  <!-- .logo -->

      <div class="grid_4 navbar">
        <ul>
          <li class="{% block navbar_class_homepage %}{% endblock %}"><a href="{{ path('homepage') }}" title="Retourner à la page d'accueil">Accueil</a></li>
          <li class="{% block navbar_class_projects %}{% endblock %}"><a href="{{ path('homepage') }}#projects" title="Consulter la liste des projets">Projets</a></li>
          <li class="{% block navbar_class_contact %}{% endblock %}"><a href="{{ path('contact') }}" title="Contacter Thibault">Contact</a></li>
        </ul> 
      </div><!-- .navbar -->
      <div class="clear"> </div>
      {% block caillou %}
      {% endblock %}

</div> <!-- .header_content -->
</div><!-- .header -->
  
<div class="grid_12 content1">
  {% block content %}
  <!-- block content --> 
  {% endblock %}
</div><!-- .content1-->
</div><!-- #wrapper -->
</div><!-- ??? -->
</div><!-- ??? -->

<div id="footer">

  <div class="footer_content">
    <p class="footer_content_mail"><a href="mailto:contact@thibaulthuertas.com" title"">contact@thibaulthuertas.com</a></p>
    <p class="footer_content_phone">+ 33.6.10.68.41.33</p>
    <ul class="footer_icon">
      <li> <a href="http://www.linkedin.com/pub/thibault-huertas/16/a14/b6a" target="_blank"><img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/footer/linkedin.png') }}" alt="Linkedin" /></a></li>
      <li> <a href="http://www.flickr.com/photos/14850436@N05/" target="_blank"><img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/footer/flickr.png') }}" alt="Flickr" /></a></li>
      <li> <a href="http://www.behance.net/thibaulthuertas" target="_blank"><img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/footer/behance.png') }}" alt="Behance" /></a></li>
    </ul>
  </div><!-- .footer -->
</div><!-- .footer_content -->
</div><!-- .container_12 -->

</div><!-- .container_12 -->

                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                    <script>window.jQuery || document.write('<script src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/js/libs/jquery') }}-1.7.1.min.js"><\/script>')</script>

                    <!-- scripts concatenated and minified via ant build script-->
                    <script src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/js/plugins.js') }}"></script>
                    <script src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/js/script.js') }}"></script>
                    <!-- end scripts-->

                    <script>
	var _gaq=[['_setAccount','UA-38493801-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
   s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->

</body>
</html