{% extends 'ConstructionsIncongruesComThibaultHuertasWwwBundle::Default/layout.html.twig' %}

{% block title %}
{{ project.title }} |
{% endblock %}

{% block navbar_class_projects %}navbar_active{% endblock %}

{% block header_class %}fixed{% endblock %}

{% block caillou %}{% endblock %}

{% block content %}


<section class="projet">
  <nav>
  <ul>
   {% if projectPrevious %}
   <li><a href="{{ path('project_show', {slug: projectPrevious.slug}) }}" title="Voir le projet {{ projectPrevious.title }}"><img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-left.png') }}" /></li>
  {% else %}
  <li><img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-left.png') }}" />
  {% endif %}

  <li><a href="{{ path('homepage') }}#projects" title="Retourner à la liste des projets">
        <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/retour-mosaique.png') }}" />
      </a>
  </li>
 {% if projectNext %}
  <li>
    <a href="{{ path('project_show', {slug: projectNext.slug}) }}" title="Voir le projet {{ projectNext.title }}">
      <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-right.png') }}" />
    </a>
  </li>
  {% else %}
    <li>
      <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-right.png') }}" />
  </li>
  {% endif %}
 </ul>
  </nav>

  <h1>{{ project.title }}</h1>
  <p>{{ project.description|raw|nl2br }}</p>
  <hr />
  <p>{{ project.credits|raw|nl2br }}</p>

  <hr />
  <section class="capture">
  {% for image in project.getImages() %}

 <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/assets/projects/' ~ project.slug ~ '/' ~ image.getFilename()) }}" alt="" />
 {% endfor %}

  </section>
 <nav>
  <ul>
   {% if projectPrevious %}
   <li><a href="{{ path('project_show', {slug: projectPrevious.slug}) }}" title="Voir le projet {{ projectPrevious.title }}"><img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-left.png') }}" /></li>
  {% else %}
  <li><img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-left.png') }}" />
  {% endif %}

  <li><a href="{{ path('homepage') }}#projects" title="Retourner à la liste des projets">
        <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/retour-mosaique.png') }}" />
      </a>
  </li>
 {% if projectNext %}
  <li>
    <a href="{{ path('project_show', {slug: projectNext.slug}) }}" title="Voir le projet {{ projectNext.title }}">
      <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-right.png') }}" />
    </a>
  </li>
  {% else %}
    <li>
      <img src="{{ asset('bundles/constructionsincongruescomthibaulthuertaswww/img/icon/arrow-right.png') }}" />
  </li>
  {% endif %}
 </ul>
  </nav>

</section>
{% endblock %}
